In [95]:
import pandas as pd

In [96]:
tech = pd.read_csv('loro_pesca_technical_docs.csv')
catalog = pd.read_csv('loro_pesca_catalog.csv')

tech

            product_group                                  technical_details
0    CARRETILHA VIZEL AIR  Chassi em alumínio | Drag 5.5kg | Recolhimento...
1         MOLINETE TARGUS  Chassi em grafite | Carretel em alumínio | 3 r...
2            VARA TRIGGER  Vara para carretilha | 1.68m | Ação rápida | L...
3  ISCAS ARTIFICIAIS YARA  Isca flutuante | Corpo rígido | Garateias refo...
4     LINHA MONOFILAMENTO  Linha de pesca monofilamento | Diâmetro 0.30mm...
5    ALICATE DE CONTENÇÃO  Alicate em aço inox | Cabo anatômico | Trava d...
6            BOIA TORPEDO  Boia torpedo 25g | Flutuação média | Ideal par...
7      ANZOL MARINE SPORT  Anzol tipo Maruseigo | Tamanho 2/0 | Aço nique...

In [97]:
catalog

    product_code                product_name    price  availability
0         111898  ISCAS ARTIFICIAIS YARA 373   464.38  Indisponível
1          82243     LINHA MONOFILAMENTO 182   766.76    Disponível
2          88239      ANZOL MARINE SPORT 659   197.20  Indisponível
3          86676            VARA TRIGGER 566   873.80    Disponível
4         125160    CARRETILHA VIZEL AIR 713  1151.96    Disponível
..           ...                         ...      ...           ...
95         83285  ISCAS ARTIFICIAIS YARA 624   738.81    Disponível
96        105528            VARA TRIGGER 469   524.90    Disponível
97        127757    ALICATE DE CONTENÇÃO 404   643.62  Indisponível
98        111601            VARA TRIGGER 477   185.29    Disponível
99         91153            VARA TRIGGER 245   896.50    Disponível

[100 rows x 4 columns]

In [98]:
tech.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_group      8 non-null      object
 1   technical_details  8 non-null      object
dtypes: object(2)
memory usage: 260.0+ bytes

In [99]:
catalog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_code  100 non-null    int64
 1   product_name  100 non-null    object
 2   price         100 non-null    float64
 3   availability  100 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.3+ KB

In [100]:
catalog.describe()

       product_code        price
count     100.00000   100.000000
mean   102842.24000   618.839100
std     14007.94479   348.499828
min     80222.00000    16.810000
25%     91690.75000   314.700000
50%    101532.50000   648.365000
75%    113608.00000   892.645000
max    129429.00000  1192.010000

In [101]:
catalog.isna().any()

product_code    False
product_name    False
price           False
availability    False
dtype: bool

In [102]:
tech.isna().any

<bound method DataFrame.any of    product_group  technical_details
0          False              False
1          False              False
2          False              False
3          False              False
4          False              False
5          False              False
6          False              False
7          False              False>

Para usar todos os dados, juntei os dois csvs

In [103]:
def merge(product_name, groups):
    for group in groups:
        if group.lower() in product_name.lower():
            return group
    return None

catalog["product_group"] = catalog["product_name"].apply(
    lambda name: merge(name, tech["product_group"].tolist())
)

In [104]:
df_merged = pd.merge(catalog, tech, on="product_group", how="left")

Depois de fazer uma primeira tentativa de implementação, percebi que a tradução era necessária, pois o modelo não identificava, por exemplo, que "reel" correnpondia ao "molinete" e a "carretilha". Por isso, procurei pelas traduções e adicionei uma coluna ao dataset.

In [105]:
translate = {
    "CARRETILHA VIZEL AIR": "Reel",
    "MOLINETE TARGUS": "Reel",
    "VARA TRIGGER": "Rod",
    "ISCAS ARTIFICIAIS YARA": "Bait",
    "LINHA MONOFILAMENTO": "Line",
    "ALICATE DE CONTENÇÃO": "Pliers",
    "BOIA TORPEDO": "Float",
    "ANZOL MARINE SPORT": "Hook"
}

df_merged["category_en"] = df_merged["product_group"].map(translate)

In [106]:
df_merged.to_csv("catalog.csv", index=False)

In [107]:
df_merged.head()

,product_code,product_name,price,availability,product_group,technical_details,category_en
0,111898,ISCAS ARTIFICIAIS YARA 373,464.38,Indisponível,ISCAS ARTIFICIAIS YARA,Isca flutuante | Corpo rígido | Garateias refo...,Bait
1,82243,LINHA MONOFILAMENTO 182,766.76,Disponível,LINHA MONOFILAMENTO,Linha de pesca monofilamento | Diâmetro 0.30mm...,Line
2,88239,ANZOL MARINE SPORT 659,197.20,Indisponível,ANZOL MARINE SPORT,Anzol tipo Maruseigo | Tamanho 2/0 | Aço nique...,Hook
3,86676,VARA TRIGGER 566,873.80,Disponível,VARA TRIGGER,Vara para carretilha | 1.68m | Ação rápida | L...,Rod
4,125160,CARRETILHA VIZEL AIR 713,1151.96,Disponível,CARRETILHA VIZEL AIR,Chassi em alumínio | Drag 5.5kg | Recolhimento...,Reel